<div class="container">
  <!-- <div class="row"> -->
    <div class="text-center">
      <%= link_to 'Back to list', article_index_path %>

      <h2><%= @article.title%></h2>
        <%= to_markdown(@article.content) %>

      <p><%= link_to 'Edit', edit_article_path(@article.id), class: 'btn btn-primary'%>
      <%= link_to 'Delete', article_path(@article.id) , method: :delete, data: { confirm: "Are you sure?" } ,class: 'btn btn-warning' %></p>

    </div>
  <!-- </div> -->
</div>
